################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FilePostingService/PostFileOnFTPService/bin/Debug
/FilePostingService/packages/Newtonsoft.Json.13.0.3
/FilePostingService/.vs/FilePostingService
/FilePostingService/PostFileOnFTPService/obj/Debug
/FilePostingService/PostFileOnFTPService/.vs
